<%= turbo_stream_from "prompt_entries" %>


<main class="container">
  <%= turbo_frame_tag "new_prompt_entry_frame" do %>
    <div class="header">
      <h1>Prompts</h1>
      <%= link_to "New prompt_entry",
                  new_prompt_entry_path %>
    </div>
  <% end %>

  <turbo-frame id="prompt_entries">
    <%= render @prompts %>
  </turbo-frame>
</main>
