<h1>Prompts</h1>

<%= turbo_frame_tag id="new_prompt_entry", src:new_prompt_entry_path %>
<div id="prompt_entries">
  <%= render @prompts %>
</div>

<%= link_to "New Prompt", new_prompt_entry_path %>
